<p-confirmdialog />
<p-toast />
<p-toolbar>
  <ng-template pTemplate="left">
    <div class="toolbar-title">
      <h2>RUT: {{ username }}</h2>
    </div>
  </ng-template>
  
  <ng-template pTemplate="right">
    
         
         <p-button
         (click)="onLogout()"
         icon="pi pi-sign-out"
          [rounded]="true" 
          [text]="true" 
          [raised]="true" 
          severity="info" />

  </ng-template>
</p-toolbar>

<div class="main-content">
  <div class="selector-container">
    <div class="date-selector">
      <label for="monthSelect">Seleccionar Mes y Año:</label>
      <p-datepicker [(ngModel)]="selectedMonth" view="month" dateFormat="mm/yy" [readonlyInput]="true" style="width: 100%;" />
    </div>
    
    <div class="button-container">
      <p-button
        label="Mostrar"
        icon="pi pi-eye"
        (click)="onShow()"
        [disabled]="!selectedMonth"
        styleClass="p-button-primary">
      </p-button>
    </div>
  </div>


  
<p-table
    [value]="data "
    [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}"
>
    <ng-template #header>
        <tr>
            <th style="width:10%">Fecha</th>
            <th style="width:10%">Hora Inicio</th>
            <th style="width:10%">Hora Termino</th>
            <th style="width:10%">Horas Trabajadas</th>
            <th style="width:10%">Programa</th>
            <th style="width:10%">Actividad</th>
            <th style="width:10%">SPS</th>
            <th style="width:10%">Auto</th>
            <th style="width:10%">Observacion</th>
            <th style="width:10%">Eliminar</th>
        </tr>
    </ng-template>
    <ng-template #body let-customer>
        <tr>
            <td>{{ customer.fecha }}</td>
            <td>{{ customer.hora_inicio }}</td>
            <td>{{ customer.hora_termino }}</td>
            <td>{{ calculateTimeDifference(customer.hora_inicio, customer.hora_termino) }}</td>
            <td>{{ customer.programa }}</td>
            <td>{{ customer.actividad }}</td>
            <td>{{ customer.sps }}</td>
            <td>{{ customer.auto === 1 ? 'SI' : 'NO' }}</td>
            <td>{{ customer.observacion }}</td>
            <td>
              <p-button icon="pi pi-trash" styleClass="p-button-danger p-button-sm" rounded (onClick)="confirmDelete(customer)" />
          </td> 
        </tr>
    </ng-template>
  
    <ng-template #paginatorright>
      <p-button
      label="Exportar Excel (todo)"
      icon="pi pi-file-excel"
      (onClick)="exportarExcel(dt)"
      styleClass="p-button-success"
    ></p-button>
    </ng-template>
</p-table>


</div>

<!-- Speed Dial -->
<p-speedDial 
  [model]="speedDialItems" 
  direction="up" 
  [style]="{bottom: '20px', right: '20px'}"
  buttonStyleClass="p-button-danger"
  buttonIcon="pi pi-bars">
</p-speedDial>

<!-- Bottom Sheet -->
<div class="bottom-sheet-overlay" [class.active]="showBottomSheet" (click)="onCloseBottomSheet()">
  <div class="bottom-sheet" [class.active]="showBottomSheet" (click)="$event.stopPropagation()">
    <div class="bottom-sheet-header">
      <h3>Agregar Nuevo Elemento</h3>
      <button class="close-btn" (click)="onCloseBottomSheet()">
        <i class="pi pi-times"></i>
      </button>
    </div>
    
    <div class="bottom-sheet-content">
      <div class="form-group">
        <label for="dateField">Fecha:</label>

      
          <p-datepicker [(ngModel)]="datosmodel!.fecha" style="width: 100%;" dateFormat="dd/mm/yy" />

      </div>
      
      <div class="form-group">
        <label for="sps">SPS:</label>
        <input
          type="text"
          id="sps"
          [(ngModel)]="datosmodel!.sps"
          class="form-input"
          placeholder="Ingresa SPS">
      </div>
      
      <div class="form-group">
        <label for="programa">Programa:</label>
        <p-select
          id="programa"
          [(ngModel)]="datosmodel!.programa"
          [options]="programaOptions"
          optionLabel="name"
          optionValue="code"
          placeholder="Selecciona un programa"
          [filter]="true"
          filterBy="name"
          [showClear]="true">
        </p-select>
      </div>
      
      <div class="form-group">
        <label for="actividad">Actividades:</label>
        <p-select
          id="actividad"
          [(ngModel)]="datosmodel!.actividad"
          [options]="actividadOptions"
          optionLabel="name"
          optionValue="code"
          placeholder="Selecciona una actividad"
          [filter]="true"
          filterBy="name"
          [showClear]="true">
        </p-select>
      </div>
      
      <div class="form-group">
        <label for="horaInicio">Hora Inicio:</label>
        <p-datepicker inputId="calendar-timeonly" [(ngModel)]="datosmodel!.hora_inicio" style="width: 100%;" [timeOnly]="true" />
      </div>
      
      <div class="form-group">
        <label for="horaTermino">Hora Término:</label>
         <p-datepicker inputId="calendar-timeonly" [(ngModel)]="datosmodel!.hora_termino" style="width: 100%;" [timeOnly]="true" />
      </div>
      
      <div class="form-group">
        <label for="auto">Auto:</label>
        <p-toggleButton
          [(ngModel)]="datosmodel!.auto"
          onLabel="Sí"
          offLabel="No"
          styleClass="w-full">
        </p-toggleButton>
      </div>
      
      <div class="form-group">
        <label for="observation">Observación:</label>
        <textarea
          id="observation"
          [(ngModel)]="datosmodel!.observacion"
          class="form-textarea"
          placeholder="Ingresa tus observaciones aquí"
          rows="4">
        </textarea>
      </div>
    </div>
    
    <div class="bottom-sheet-footer">
      <button class="btn-cancel" (click)="onCloseBottomSheet()">
        Cancelar
      </button>
      <button class="btn-save" (click)="onSaveForm()">
        Guardar
      </button>
    </div>
  </div>
</div>
